body {
  background: #eaeded;
}

.header {
  background: #131921;
  color: white;
  padding: 15px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  color: #ff9900;
}

.header nav {
  display: flex;
  gap: 25px;
}

.header a {
  color: white;
}

.banner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.products {
  display: grid;

  grid-template-columns:
  repeat(auto-fit,minmax(280px,1fr));

  gap: 20px;

  padding: 30px;
}

.product {
  background: white;

  border-radius: 12px;

  padding: 20px;

  transition: 0.3s;

  box-shadow:
  0 4px 12px rgba(0,0,0,.08);
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: 250px;

  object-fit: contain;
}

.product h3 {
  margin: 10px 0;
}

.rating {
  color: orange;
  margin-bottom: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.cartBtn {
  flex: 1;

  background: #ffd814;

  border: none;

  padding: 10px;

  border-radius: 8px;
}

.buyBtn {
  flex: 1;

  background: #ffa41c;

  border: none;

  padding: 10px;

  border-radius: 8px;
}

.loginPage {
  min-height: 80vh;

  display: flex;

  justify-content: center;

  align-items: center;
}

.loginBox {
  background: white;

  width: 400px;

  padding: 30px;

  border-radius: 12px;

  box-shadow:
  0 5px 20px rgba(0,0,0,.1);

  display: flex;

  flex-direction: column;

  gap: 15px;
}

.loginBox input {
  padding: 12px;
}

.checkout {
  padding: 30px;
}

.cart-item {
  background: white;

  margin-bottom: 15px;

  border-radius: 10px;

  padding: 15px;

  display: flex;

  justify-content: space-between;

  align-items: center;
}

.checkoutBtn {
  width: 100%;

  background: #ff9900;

  border: none;

  padding: 15px;

  color: white;

  border-radius: 8px;

  margin-top: 20px;
}

.ordersPage {
  padding: 30px;
}

.orderCard {
  background: white;

  margin-top: 20px;

  border-radius: 12px;

  padding: 20px;

  box-shadow:
  0 4px 12px rgba(0,0,0,.08);
}

.orderItem {
  display: flex;

  gap: 20px;

  align-items: center;

  margin-top: 15px;
}

.orderItem img {
  width: 100px;

  height: 100px;

  object-fit: contain;
}

.emptyOrders {
  background: white;

  padding: 40px;

  border-radius: 12px;

  margin-top: 20px;
}

.buyAgainBtn {
  background: #ffd814;

  border: none;

  padding: 10px 15px;

  border-radius: 8px;

  margin-top: 10px;
}